<div>
    <mat-drawer mode="side" #drawer id="sidenav-wrapper">
        <div id="sidenav-header">
            <h1 id="sidenav-title">Navigator</h1>
            <button (click)="drawer.toggle()" id="sidenav-minimizer" mat-icon-button color="secondary">
                <mat-icon color="white">minimize</mat-icon>
            </button>
        </div>
        <div id="sidenav-links">

        </div>
    </mat-drawer>
    <div id="drawer-launcher">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>launch</mat-icon>
        </button>
    </div>
</div>