<div>
    <mat-drawer [opened]="false" mode="side" #drawer id="sidenav-wrapper">
        <div id="sidenav-header">
            <h1 id="sidenav-title">Navigator</h1>
            <button (click)="drawer.toggle()" id="sidenav-minimizer" mat-icon-button color="secondary">
                <mat-icon class="white-icon">minimize</mat-icon>
            </button>
        </div>
        <div id="sidenav-links">
            <app-sidenav-element title="Test"></app-sidenav-element>
            <app-sidenav-element title="Test 2"></app-sidenav-element>
            <app-sidenav-element title="Test 3"></app-sidenav-element>
            <app-sidenav-element title="Test 4"></app-sidenav-element>

        </div>
    </mat-drawer>
    <div id="drawer-launcher">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>launch</mat-icon>
        </button>
    </div>
</div>