<div *ngIf="isLogedIn">
    <mat-drawer [opened]="isHome()" mode="side" #drawer id="sidenav-wrapper">
        <div id="sidenav-header">
            <h1 id="sidenav-title">Navigator</h1>
            <button (click)="drawer.toggle()" id="sidenav-minimizer" mat-icon-button color="secondary">
                <mat-icon class="white-icon">minimize</mat-icon>
            </button>
        </div>
        <div id="sidenav-links">
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="User Overview" icon="person" [href]="['user']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="Add User" icon="person_add" [href]="['user', 'edit']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="Group Overview" icon="group" [href]="['group']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="Add Group" icon="group_add" [href]="['group', 'edit']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['user']" (changeRef)="drawer.toggle()" title="Perform Test" icon="quiz" [href]="['test']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="Test Overview (Admin)" icon="quiz" [href]="['test', 'administrator']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="Add Test" icon="list_alt_add" [href]="['test', 'administrator', 'edit']"></app-sidenav-element>
            <app-sidenav-element *appIsInRole="['admin']" (changeRef)="drawer.toggle()" title="Solution Overview" icon="checkmark" [href]="['solution']"></app-sidenav-element>
        </div>
    </mat-drawer>
    <div id="drawer-launcher">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>launch</mat-icon>
        </button>
    </div>
</div>