<div id="login-logout-component">
    <button (click)="login()" id="login-button" *ngIf="!isLogedIn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon id="login-icon" class="white-icon">login</mat-icon>
    </button>
    <button (click)="logout()"  id="logout-button" *ngIf="isLogedIn" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon id="logout-icon" class="white-icon">logout</mat-icon>
    </button>
</div>