<div id="root-wrapper">
  <header id="root-header">
    <h1 id="root-title">Answera</h1>
    <app-login-logout></app-login-logout>
  </header>
  <main id="root-content">
    <mat-drawer-container id="drawer-wrapper">
      <app-sidenav></app-sidenav>
      <div id="main-content">
        <div id="hello-banner" *ngIf="currentUser">
          <h1> Welcome Back <b>{{currentUser.username}}</b></h1>
        </div>
        <router-outlet></router-outlet>  
      </div>
    </mat-drawer-container>
  </main>

  <footer id="root-footer">

  </footer>
</div>