<div id="user-edit-wrapper">
    <h1 *ngIf="user?.id">Editing User {{user?.firstName}}</h1>
    <h1 *ngIf="!user?.id">Create new User</h1>
    <form (submit)="submit()" id="user-edit-form" [formGroup]="userForm">
        <mat-form-field class="user-edit-form-field">
            <mat-label>Username</mat-label>
            <input appAutofocus formControlName="username" matInput maxlength="20" required>
        </mat-form-field>
        
        <mat-form-field class="user-edit-form-field">
            <mat-label>FirstName</mat-label>    
            <input appAutofocus formControlName="firstName" matInput maxlength="20" required>
        </mat-form-field>

        <mat-form-field class="user-edit-form-field">
            <mat-label>LastName</mat-label>
            <input appAutofocus formControlName="lastName" matInput maxlength="20" required>
        </mat-form-field>
        <div id="user-form-action">
            <button (click)="goBack()" mat-stroked-button color="warn">Go Back</button>
            <button mat-stroked-button color="basic">{{user?.id ? 'Update User' :  'Save User'}}</button>
        </div>
    </form>
</div>